{% extends 'webapp/base.html' %}
{% block content %}
    <h5>Bienvenido {{user}}</h5>
    <hr>
    <a class="btn btn-outline-primary btn-small" href="{% url 'agregar_paciente' %}">
        Agregar Paciente
    </a>
    <hr>    
    

    <table class="table table-hover table-bordered">
        <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Estado</th>
                <th scope="col">Profesional Responsable</th>
                <th scope="col">Ver</th>
            </tr>
        </thead>
        <tbody>
            {% if pacientes %}
            {% for paciente in pacientes %}
            <tr>
                <td>
                    {{paciente.id}}
                </td>
                <td>{{paciente.nombre}} {{paciente.apellido}}</td>
                <td>{{paciente.telefono}}</td>
                <td>{{paciente.estado}}</td>
                <td>{{paciente.profesional_responsable}}</td>
                <td><a href="{% url 'detalle_paciente' paciente.id %}">detalle</a></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
        {% if pacientes.number != 1 %}
        <a type="button" class="btn btn-secondary" href="?page=1"><<</a>
        {% endif %}
        {% if pacientes.has_previous %}
        <a type="button" class="btn btn-secondary" href="?page={{pacientes.previous_page_number}}">{{pacientes.previous_page_number}}</a>
        {% endif %}
        <a type="button" class="btn btn-secondary" href="?page={{pacientes.number}}">{{pacientes.number}}</a>
        {% if pacientes.has_next %}
        <a type="button" class="btn btn-secondary" href="?page={{pacientes.next_page_number}}">{{pacientes.next_page_number}}</a>
        {% endif %}
        <a type="button" class="btn btn-secondary" a href="?page={{pacientes.num_pages}}">>></a>
    </div>
</div>
    {% endif %}
{% endblock %}