{% extends 'webapp/base.html' %}
{% block content %}
    <h5>Bienvenido {{user}}</h5>
    <hr>
    <a class="btn btn-outline-primary btn-small" href="{% url 'crear-paciente' %}">
        Agregar Paciente
    </a>
    <hr>

    <table class="table table-hover table-bordered">
        <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Estado</th>
                <th scope="col">Profesional Responsable</th>
                <th scope="col">Ver</th>
            </tr>
        </thead>
        <tbody>
            {% if pacientes %}
            {% for paciente in pacientes %}
            <tr>
                <td>
                    {{paciente.id}}
                </td>
                <td>{{paciente.nombre}} {{paciente.apellido}}</td>
                <td>{{paciente.telefono}}</td>
                <td>{{paciente.estado}}</td>
                <td>{{paciente.profesional_responsable}}</td>
                <td><a href="{% url 'detalle-paciente' paciente.id %}">detalle</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}