{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container bg-light shadow-md p-5 form-layout">
    <h3>Crear Cuenta</h3>
    <h5>Empieze a Manejar sus pacientes</h5>
    <hr>
    <br>
    <form method="POST" autocomplete="off" >
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <button type="submit" class="btn btn-primary w-100 btn-block p-2">Crear cuenta</button>
    </form>
    <br>
    <div class="text-center">
        <p>¿Ya tiene cuenta?</p><a href="{% url 'my-login' %}">Login</a>
    </div>
</div>


{% endblock %}