{% extends 'webapp/base.html' %}
{% block content %}
<a class="btn btn-outline-primary btn-small" href="{% url 'agregar_factura' %}">
    Agregar Factura
</a>
<hr>
    <table class="table table-hover table-bordered">
        <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Paciente</th>
                <th scope="col">fecha</th>
                <th scope="col">monto</th>
                <th scope="col">Ver</th>
            </tr>
        </thead>
        <tbody>
            {% if facturas %}
            {% for factura in facturas %}
            <tr>
                <td>{{factura.id}}</td>
                <td>{{factura.paciente}}</td>
                <td>{{factura.fecha}}</td>
                <td>{{factura.monto}}</td>
                <td><a href="{% url 'detalle_factura' factura.id %}">detalle</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}